<form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
  <fieldset class="form-fieldset">
    <legend class="form-legend">Sign Up Form</legend>

  <div *ngIf="showSuccessMessage" class="success-message">Thank you for signing up! You will now receive our latest product offerings via email.</div>
  <div *ngIf="showErrorMessage" class="error-message">{{errMsg}}</div>
<div class="row">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName" aria-describedby="firstNameError" required>
  <div id="firstNameError" *ngIf="showErrorMessage && signUpForm.get('firstName')?.hasError('required')" class="error-message" role="alert">First name is required.</div>
</div>
<div class="row">
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName" aria-describedby="lastNameError" required>
  <div id="lastNameError" *ngIf="showErrorMessage && signUpForm.get('lastName')?.hasError('required')" class="error-message" role="alert">Last name is required.</div>
</div>
<div class="row">
  <label for="email">Email Address:</label>
  <input type="email" id="email" formControlName="email" aria-describedby="email" required>
  <div id="emailError" *ngIf="showErrorMessage && signUpForm.get('email')?.hasError('required')" class="error-message" role="alert">Email is required.</div>
  <div id="emailError" *ngIf="showErrorMessage && signUpForm.get('email')?.hasError('email')" class="error-message" role="alert">Invalid email format.</div>
</div>
  <div class="button-container">
    <button [disabled]="showErrorMessage" type="submit" class="submit-button">Submit</button>
  </div>
</fieldset>

</form>
